body {
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-image: url("../assets/code-dark.png");
    background-size: 30%;
}

.dark-code-background, .light-code-background {
    font-size: 1.5em;
    padding: 3em 3em 3em 32%;
}

.light-code-background {
    color: #030D10;
    background-color: #FFFFE8;
    background-image: url("../assets/code-light.png");
    background-repeat: repeat-y;
    background-size: 30%;
}

.project-img {
    max-height: 10em;
    max-width: 40%;
    height: 100%;
    margin: 2em 0.5em 1em 1em;
    border-radius: 1em;
}

#landing {
    min-height: 100vh;
    margin: 2em 3em 0 35%;
    color: #FFFFE8;
    font-size: 30pt;
    text-align: right;
}

#landing h1 {
    font-size: 10vw;
    text-align: left;
}

#contact-list {
    list-style-type: none;
}

#contact-list li {
    margin: 0.5em;
}

#contact-list a {
    margin: 0.5em;
    color: #88E1FF;
    border-bottom: #237793 solid 2px;
}

@media (max-width: 1680px) {
    .dark-code-background, .light-code-background {
        padding-left: 3em;
    }
    
    #landing {
        margin-left: 3em;
    }

    #landing h1 {
        font-size: 13vw;
    }
}

@media (max-width: 1280px) {
    .dark-code-background, .light-code-background {
        padding: 1em;
    }

    .light-code-background {
        background-size: 50%;
    }
    
    #landing {
        font-size: 20pt;
    }

    body {
        background-size: 50%;
    }
}

@media (max-width: 800px) {
    #landing {
        margin: 0.5em;
    }
}

@media (max-width: 480px) {
    #landing {
        font-size: 6vw;
    }
}